{% extends 'base.html.twig' %}

{% block title %}Cartoons{% endblock %}

{% block body %}
        <h1>Cartoons</h1>
    {% for page in pages %}
        <div><a href="content/{{ page.id}}">{{ page.page_name }}</a></div>
    {% endfor %}

{% endblock %}
